body {
    color:#ccc;
    background: url(http://www.isolating.me/plugins/css/bgimg.png);
}

*, html, body{
    padding:0;
    border:0;
    margin:0;
}

#content canvas { margin: 0 auto; }

body, div, p, input, textarea{
    font-size:14px;
    font-weight:400;
}

h1, h2, h3, h4, h5, h6{
    font-weight:normal;
    margin: 1em 0;
}

p{
    margin: 0 0 1em 0;
    line-height: 1.4em;
    clear: both;
}

a{
    color:#555;
    text-decoration:none;
}

a:hover{
    text-decoration:none;
}

#wrapper input, textarea{
    color:#666;
    border:#ccc 1px solid;
    border-radius:2px;
    -moz-border-radius: 2px;
}

input[type=submit]{
    cursor:pointer;
}

input {
    border: 1px solid #ccc;
}

input[type=submit]{
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    margin-top: 5px;
    border: 1px solid #2aa5c8;
    border-radius: 4px;
    -moz-border-radius: 4px;
    background:#2aa5c8;
    color: #fff;
    font-weight:600;
}

input[type=reset]{
    font-size: 12px;
    padding: 2px;
    margin-top: 5px;
    border: 1px solid #999;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

a img{
    border:none
}

a{
    outline:none
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    padding: 5px 15px 20px 15px;
    border: 1px solid;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow:inset 0 0 2px #ccc;
    background: transparent;
    margin-bottom: 15px;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 80px;
}

#front_custom {
    padding: 15px 0px 15px 0px;
}

/* General  */

a {
    color: #fff;
}

a:hover {
    color: #aaa;
}

/* Header  */

#header {
    border-bottom:thin dashed #555;
    min-height: 95px;
    background: #1C1C1C;
}

#header_contact{ 
    text-align:right;
}

#logo {
    margin-bottom: 5px;
    margin-top:18px;
    line-height: 40px;
}

#banner {
    margin-bottom: 10px;
}

#subheader {
    padding-bottom: 5px;
    border-bottom: 1px solid #3D3D3D;
}

/* Nav  */

#nav {
    float: right;
    margin-top: 12px;
    position: relative;
}

#nav ul {
    list-style: none;
    margin: 0;
}
#nav li {
    position: relative;
}

#nav li a {
    display: block;
    padding: 5px 10px;
    font-weight: 400;
    text-decoration:none;
    color: whitesmoke;
}

#nav_menu > li {
    float: left;
    margin: 0 5px;
}

#nav #nav_menu > li > .sub-menu {
    display: none;
    background: rgba(35,35,35,0.75) none;
    margin-top: 5px;
    padding: 8px 10px 5px;
    position: absolute;
    left: 0;
    top: 25px;
    float: left;
    width: 200px;
    z-index: 9999;
    border-radius: 0 3px 3px 3px;
    -moz-border-radius: 0 3px 3px 3px;
    -webkit-border-radius: 0 3px 3px 3px;
    -khtml-border-radius: 0 3px 3px 3px;
}

#nav #nav_menu > li .main_nav_arrow {
    height: 5px;
    width: 8px;
    display: inline-block;
    position: relative;
    margin: 0 10px 0 10px;
    top: -1px;
}

#nav #nav_menu > li > .sub-menu .nav_arrow {
    height: 11px;
    left: 10px;
    position: absolute;
    top: -10px;
    width: 14px;
    display: none;
}

#nav #nav_menu > li > .children {
    display: none;
    background: rgba(35,35,35,0.75) none;
    margin-top: 5px;
    padding: 8px 10px 5px;
    position: absolute;
    left: 0;
    top: 25px;
    float: left;
    width: 200px;
    z-index: 9999;
    border-radius: 0 3px 3px 3px;
    -moz-border-radius: 0 3px 3px 3px;
    -webkit-border-radius: 0 3px 3px 3px;
    -khtml-border-radius: 0 3px 3px 3px;
}

#nav #nav_menu > li > .children .nav_arrow {
    height: 11px;
    left: 10px;
    position: absolute;
    top: -10px;
    width: 14px;
    display: none;
}

#nav #nav_menu > li > a {
    color: #b3b3b3;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    padding: 5px 0px 5px 10px;
    position: relative;
}

#nav #nav_menu > .current_page_item > a {
    color: #FFF;
}

#nav #nav_menu > li:hover > a {
    color: #FFF;
    background: transparent;
    padding: 5px 0px 5px 10px;
    font-weight: 500;
}

#nav #nav_menu > .dropdown_hover:hover > a {
    color: #b3b3b3;
    background: rgba(35,35,35,0.75) none;
    padding: 5px 0px 5px 10px;
    font-weight: 500;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -khtml-border-radius: 3px 3px 0 0;
}

#nav #nav_menu li:hover > ul {
    display: block;
}

#nav ul ul a {
    color: #B3B3B3;
    font-size: 14px;
    border-bottom: 1px solid #3D3D3D;
}

#nav ul ul a:hover {
    color: #FFF;
}

#nav ul ul ul a {
    text-indent: 10px;
}

#nav ul ul ul ul a {
    text-indent: 20px;
}

#nav ul ul ul ul ul a {
    text-indent: 30px;
}

/* HTML styling  */

dt {
    font-weight: bold; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    margin-left: 26px; 
}

dd {
    margin-bottom: 15px; 
    margin-left: 26px; 
}

ul, ol { 
    margin: 0 0 10px 0; 
}

th {
    padding-right: 20px; 
    padding-bottom: 10px;
}

td {
    border-top: 1px solid #DDD;
    padding: 6px 10px 6px 0;
}

table {
    border-bottom: 1px solid #DDD;
}

pre {
    margin-left: 20px;
}

ol, ul {
    list-style-position: inside;
    margin-left: 21px;
}

/* Footer  */

#footer {
    line-height: 50px;
    position: absolute;
    height:50px;
    background-color:#1C1C1C;
    box-shadow: 0px -1px 2px #000;
    text-align:center;
    bottom:0;
    left:0;
    right:0;
    border-top:thin dashed #555;
}

.footer-text {
    color: #5b5b5b;
    font-size: 13px;
}

/* Lists */

li { 

}

/* HR
----------------------------------------------------------------------------------------------------*/

hr {
    border: 1px #3D3D3D solid;
    clear: both;
    height: 0;
    margin: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {

}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
}

/* Override image 100% issue in IE */
img {
    width: auto !important; 
}

/*	For sticky footer	*/

* {
    margin: 0;
}
html, body {
    height: 100%;
    margin:0px !important;
}
.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0px auto -206px auto; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push{
    height: 206px;
    clear:both;
}
